@using EquipmentManager.Helpers

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">INVENTORY MANAGER</span>
                    </a>
                </div>
                <div class="logo-element">
                    UC
                </div>
            </li>
            <!-- Home Start-->
            <li class="@Html.IsSelected("Home")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.index">Main</span>
                </a>
            </li>
            <!-- Home End-->
            <!-- Equipment Start-->
            <li class="@Html.IsSelected("Equipment")">
                <a href="@Url.Action("Index", "Equipment")">
                    <i class="fa fa-desktop"></i> <span class="nav-label" data-i18n="nav.equipment">Equipment</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Equipment", cssClass: "in")">
                    <li class="@Html.IsSelected("Equipment", "Index")">
                        <a href="@Url.Action("Index", "Equipment")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Equipment", "Create")">
                        <a href="@Url.Action("Create", "Equipment")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Equipment End-->
            <!-- Assignment Start-->
            <li class="@Html.IsSelected("AssignmentS")">
                <a href="@Url.Action("Index", "Assignments")">
                    <i class="fa fa-ticket"></i> <span class="nav-label" data-i18n="nav.assignments">Assignments</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Assignments", cssClass: "in")">
                    <li class="@Html.IsSelected("Assignments", "Index")">
                        <a href="@Url.Action("Index", "Assignments")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Assignments", "Active")">
                        <a href="@Url.Action("Index", "Assignments")">
                            <i class="fa fa-star"> Active</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Assignments", "Create")">
                        <a href="@Url.Action("Create", "Assignments")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Assignment End-->
            <!-- Repairs Start-->
            <li class="@Html.IsSelected("Repairs")">
                <a href="@Url.Action("Index", "Repairs")">
                    <i class="fa fa-wrench"></i> <span class="nav-label" data-i18n="nav.repairs">Repairs</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Repairs", cssClass: "in")">
                    <li class="@Html.IsSelected("Repairs", "Index")">
                        <a href="@Url.Action("Index", "Repairs")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Assignments", "Create")">
                        <a href="@Url.Action("Create", "Repairs")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Repairs End-->
            <!--Equipment Type Start-->
            <li class="@Html.IsSelected("EquipmentType")">
                <a href="@Url.Action("Index", "EquipmentTypes")">
                    <i class="fa fa-server"></i> <span class="nav-label" data-i18n="nav.equipmenttypes">Equipment Types</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("EquipmentType", cssClass: "in")">
                    <li class="@Html.IsSelected("EquipmentType", "Index")">
                        <a href="@Url.Action("Index", "EquipmentTypeS")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("EquipmentType", "Create")">
                        <a href="@Url.Action("Create", "Repairs")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!--Equipment Type End-->
            <!-- Manufacturer Start-->
            <li class="@Html.IsSelected("Manufacturer")">
                <a href="@Url.Action("Index", "Manufacturers")">
                    <i class="fa fa-truck"></i> <span class="nav-label" data-i18n="nav.manufacturers">Manufacturer</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Manufacturers", cssClass: "in")">
                    <li class="@Html.IsSelected("Manufacturers", "Index")">
                        <a href="@Url.Action("Index", "Manufacturers")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Manufacturers", "Create")">
                        <a href="@Url.Action("Create", "Manufacturers")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Manufacturer End--!>
            <!-- Vendor Start-->
            <li class="@Html.IsSelected("Vendor")">
                <a href="@Url.Action("Index", "Vendors")">
                    <i class="fa fa-building-o"></i> <span class="nav-label" data-i18n="nav.vendors">Vendor</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Vendors", cssClass: "in")">
                    <li class="@Html.IsSelected("Vendors", "Index")">
                        <a href="@Url.Action("Index", "Vendors")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Vendors", "Create")">
                        <a href="@Url.Action("Create", "Vendors")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!--Vendor End-->
            <!--RequestingDepartments Start-->
            <li class="@Html.IsSelected("Departments")">
                <a href="@Url.Action("Index", "Departments")">
                    <i class="fa fa-graduation-cap"></i> <span class="nav-label" data-i18n="nav.departments">Departments</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Departments", cssClass: "in")">
                    <li class="@Html.IsSelected("Departments", "Index")">
                        <a href="@Url.Action("Index", "Departments")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Departments", "Create")">
                        <a href="@Url.Action("Create", "Departments")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!--RequestingDepartments End-->
            <!--Employee Start-->
            <li class="@Html.IsSelected("Employee")">
                <a href="@Url.Action("Index", "Employees")">
                    <i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.employees">Employee</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Employee", cssClass: "in")">
                    <li class="@Html.IsSelected("Employee", "Index")">
                        <a href="@Url.Action("Index", "Employees")">
                            <i class="fa fa-list"> Index</i>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Employee", "Create")">
                        <a href="@Url.Action("Create", "Employees")">
                            <i class="fa fa-plus"> Add</i>
                        </a>
                    </li>
                </ul>
            </li>
            <!--Employee End-->

        </ul>
    </div>
</nav>